body {
    font: 14px/20px  'Open Sans', Arial, Tahoma,  sans-serif;
    width: 100%;
    height: 100%;
    color: #293237;
    background: #fff;
}
h3{
    float: left;
    font-size: 24px;
    margin-top: 20px;
}
.btn-sidebar{
    position: absolute;
    left: 10px;
    top: 15px;
    padding: 10px;
    z-index: 1;
    font-size: 1.7em;
    line-height: 30px;
    color: #d1d2d8;
}
.navbar-user {float: right;}
.navbar-user>li {
    float: left;
    display: inline-block;
    padding: 10px;
}
.navbar-user>li.avatar {padding-right: 25px;}
.navbar-user>li.avatar>a {color: #777;}
.navbar-user>li a {color: #d0d0d0;}
.navbar-user>li a:hover,
.navbar-user>li a:focus {
    background: none !important;
    color: #23527c;
}
.sidebar-nav>li{padding-left: 15px;}
.sidebar-nav>li a{color: #d0d0d0;}
.sidebar-nav span{padding-left: 20px;}
.sidebar-nav .fa{vertical-align: middle;}
.sidebar-nav .fa-stack{
    float: right;
    margin-right: 10px;
    padding-top: 6px;
}
.page-content-wrapper p{
    padding: 0;
    margin: 0;
    border: none;
}
/*div[class^=category]{}
div.detail{}*/